html{
    overflow: hidden;
}

body{
    background-image: url("../resources/Main_Menu/Main_Menu_Slideshow.jpg");
    background-size: 100% auto;
}

#Menu{
    position: relative;
    background-color: black;
    float: left;
    opacity: 0.7;
    width: 25%;
    height: 100%;
    text-align: center;
}

#website_logo{
    width: 100%;
    height: 30%;
}

#website_logo img{
    margin-top: 40px;
    width: 240px;
    height: 250px;
}

#menu_options{
    padding-top: 60px;
    width: 100%;
}

.options{
    color: white;
    margin-top: 50px;
    font-size: 18px;
    text-align: right;
}

ul{
    list-style-type: none;
    padding: 0;
    margin-right: 10px;
  }

li{
    margin-top: 18px;
  } 

li a{
    text-decoration: none !important;
    color: white;
}

li a:hover {
    color: red;
    font-weight: bold;
}

#Social{
    margin-top: 40px;
    height: 40px;
}

.social-links{
    width: 34px;
    height: 34px;
    margin-right: 6px; 
    margin-left: 6px;
}

.social-links:hover{
    width: 40px;
    height: 40px;
}

#end-tag{
    font-size: 16px;
    font-weight: bold;
    color: white;
}

#Info_Displayer{
    position: relative;
    float: right;
    width: 75%;
    height: 100%;
    text-align: center;
}

#info_Content{
    position: static;
    width: 90%;
    height: 90%;
    display: inline-block;
    margin: 50px auto; 
    background-color: black;
    opacity: 0.8;
    text-align: center;
    color: white;
}

#Service_Name{
    margin-top: 10px;
    font-size: 32px;
}

#Service_Desc{
    margin-top: 30px;
    font-size: 16px;    
}