#MyBody{
    width: 100%;
    height: 100%;
    position: static;
    margin: auto;
    background-image: url("../res/Main_Menu/Games_Slideshow.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
} 

#Menu{
    position: absolute;
    background-color: black;
    opacity: 0.8;
    width: 24%;
    height: 100%;
    text-align: center;
}

#website_logo{
    width: 100%;
    height: 30%;
}

#website_logo img{
    margin-top: 40px;
    width: 240px;
    height: 250px;
}

#menu_options{
    padding-top: 60px;
    width: 100%;
    
}

.options{
    color: white;
    margin-top: 50px;
    font-size: 18px;
    text-align: right;
}

ul{
    list-style-type: none;
    padding: 0;
    margin-right: 10px;
  }

li{
    margin-top: 18px;
  } 

li a{
    text-decoration: none !important;
    color: white;
}

li a:hover {
    color: red;
    font-weight: bold;
}

#Social{
    margin-top: 40px;
    height: 40px;
}

.social-links{
    width: 34px;
    height: 34px;
    margin-right: 6px; 
    margin-left: 6px;
}

.social-links:hover{
    width: 40px;
    height: 40px;
}

#end-tag{
    font-size: 16px;
    font-weight: bold;
    color: white;
}

#Info_Displayer{
    visibility: hidden;
    position: relative;
    width: 50%;
    height: 60%;
    float: right;
    background-color: black;
    margin: 30px;
    opacity: 0.8;
    text-align: center;       
}

#MyInfo{
    width: 95%;
    height: 90%;
    font-size: 18px;
    color: white;
    font-family: bold;
    display: inline-block; 
    margin-top: 40px;
}

#Image_Displayer{
    visibility: hidden;
    position: relative;
    width: 65%;
    height: 30%;
    float: right;
    background-color: black;
    margin-right: 30px;
    opacity: 0.9;
    text-align: center;
}

#Image_Displayer img{
    width: 230px;
    height: 170px;
    display: inline-block;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}