<% include partials/main.ejs %>

    <div id="Info_Displayer">
        <div id="info_Content">

            <div id="Service_Name">
                <%= data[0].title %>
            </div>

            <div id="Service_Desc">
                <%= data[0].information %>
        </div>
    </div>
    </body>