<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href= "assets/style.css" rel="stylesheet" type="text/css" />
    <link href= "assets/lightbox.css" rel="stylesheet" type="text/css" />    
    <link rel="icon" href="../resources/logo.jpg">
    <title>GÜIDU Solutions</title>
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">  

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>      

  </head>
  
  <body id="myBody">

      <div id="Menu">
        <div id="website_logo">
          <a data-ng-src="../resources/Main_Menu/Main_Menu_Slideshow.jpg" id="Mylogo" href="#"><img src="../resources/logo.jpg" alt=""></a>
        </div>
  
        <div id="menu_options">
  
          <div class="options">
            <nav>
              <ul>
                <li data-ng-src=<%=data[0].url1%>><a href="#"><%= data[0].title %></a>
                  <!--  <img class="myArrow" src="../res/Main_Menu/Arrow.png" /></li> !-->
                  <li data-ng-src="1"><a href="#"><%= data[1].title %></a>
                    <!--  <img class="myArrow" src="../res/Main_Menu/Arrow.png" /></li> !-->
                    <li data-ng-src="2"><a href="#">Augmented Reality</a>
                      <!--  <img class="myArrow" src="../res/Main_Menu/Arrow.png" /></li> !-->
                      <li data-ng-src="3"><a href="#">Architectonic Visualization</a>
                        <!--  <img class="myArrow" src="../res/Main_Menu/Arrow.png" /></li> !-->
                        <li data-ng-src="4"><a href="#">3D Animation</a>
                          <!--  <img class="myArrow" src="../res/Main_Menu/Arrow.png" /></li> !-->
              </ul>
            </nav>
          </div>
  
          <div id="Social">
            <a href="https://www.facebook.com/GuiduCS/" target="_blank"><img class="social-links" src = "../resources/Main_Menu/Facebook_link.png"></a>
            <img class="social-links" src="../resources/Main_Menu/Twitter_link.png">
            <img class="social-links" src="../resources/Main_Menu/Instagram_link.png">
  
          </div>
  
          <div id="end-tag">
            <p>Check us also on social networks!</p>
          </div>
  
        </div>
  
      </div>
  
<!--       <div id="Info_Displayer">
        <div id="MyInfo">
          <h1 id='Service_Title'>Sample Text</h1>
          <p id="Service_Info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur suscipit efficitur. Nulla facilisi.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam hendrerit non orci a accumsan. Mauris nisl nisl,
            convallis id mi sit amet, porttitor dapibus eros. Donec tristique fermentum nunc non vestibulum. Vestibulum volutpat
            pellentesque purus, vel auctor mi dapibus eu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia Curae; Aliquam viverra nulla non dictum viverra. Maecenas commodo accumsan magna eu luctus. Pellentesque
            dignissim in justo ac mollis. Aenean facilisis, ante vitae imperdiet finibus, tellus tellus finibus diam, vitae
            malesuada tellus lorem quis augue. Cras ac rutrum tortor, non tempus elit.
          </p>
        </div>
      </div>
  
      <div id="Image_Displayer">
        <a href="../resources/Main_Menu/Games_Slideshow.jpg" data-lightbox="roadtrip"><img id="url1" class="example-image" src="../resources/Main_Menu/Games_Slideshow.jpg" alt=""/></a>
        <a href="http://lokeshdhakar.com/projects/lightbox2/images/image-3.jpg" data-lightbox="roadtrip"><img id="url2" class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-3.jpg" alt=""/></a>
        <a href="http://lokeshdhakar.com/projects/lightbox2/images/image-3.jpg" data-lightbox="roadtrip"><img id="url3" class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-3.jpg" alt=""/></a>
      </div>
  
    </div> -->
  
  <!--  <script type="text/javascript" src="../../js/jquery.js"></script> !-->
  <!--  <script type="text/javascript" src="../js/index.js"></script> !-->
    
    <script>
      $('li').click(function () {
        
        var $data = $(this).attr('data-ng-src');
        alert("The sended value is: " + $data);
        $('#myBody').css("background-image", "url(" + $data + ")");
      });
  
    </script>

<script>
    $('#Mylogo').click(function () {
      
      var $data = $(this).attr('data-ng-src');
      $('#myBody').css("background-image", "url(" + $data + ")");
    });

  </script>

<!--    <script src="../../../dist/js/lightbox-plus-jquery.js"></script> !-->